[flake8]
per-file-ignores =
    # Ignore "imported but unused" errors for all __init__.py files.
    # Requires the extension 'flake8-per-file-ignores' which can be installed
    #  through pip.
    **/__init__.py: F401, F403
