dist: xenial
sudo: false
language: python


git:
  depth: false

branches:
  except:
    - gh-pages


cache:
  directories:
    - "$HOME/.cache/pip"
    - "$HOME/.pyenv"
    - "$HOME/.tox"


stages:
  - test
  - build
  - name: deploy
    if: branch = master


jobs:
  fast_finish: true
  allow_failures:
    - env: TORCH="nightly"
  include:
    - stage: test
      os: linux
      python: 3.6
      env: TORCH="1.0"
      install: &test-install
        - travis_retry pip install tox-travis codecov
      script: &test-script
        - echo 'Running tests...'
        - if [[ $TRAVIS_BRANCH != "master" ]]; then tox -- -s -m 'not slow and not extra' -n auto; fi # don't run slow/extra tests if not on master branch
        - if [[ $TRAVIS_BRANCH == "master" ]]; then tox -- -s --cov=qucumber --no-cov-on-fail -n auto; fi
      after_success: codecov

    - python: 3.6
      env: TORCH="1.3"
      install: *test-install
      script: *test-script
      after_success: codecov

    - python: 3.7
      env: TORCH="1.0"
      install: *test-install
      script: *test-script
      after_success: codecov

    - python: 3.7
      env: TORCH="1.3"
      install: *test-install
      script: *test-script
      after_success: codecov


    - os: linux
      name: "Documentation Format and Style Tests"
      python: 3.6
      addons:
        apt:
          packages:
            - libenchant1c2a
            - pandoc
      install: travis_retry pip install -e .[style,docs]
      script:
        - inv style
        - make -C ./docs -e test
        - make -C ./docs -e spelling
        - make -C ./docs -e linkcheck

    ####### misc extra configs
    #######  only test on python 3.6, if it works there it should work on 3.7
    - python: 3.6
      env: TORCH="1.1"
      install: *test-install
      script: *test-script
      after_success: codecov
      if: branch = master

    - python: 3.6
      env: TORCH="1.2"
      install: *test-install
      script: *test-script
      after_success: codecov
      if: branch = master

    - python: 3.6
      env: TORCH="nightly"
      install: *test-install
      script: *test-script
      after_success: codecov
      if: branch = master
    ### end of extra configs

    # only test against most recent version of PyTorch on macOS
    #  if all versions of torch work on linux, they should work on macOS
    #  otherwise it's PyTorch's issue, not ours
    - os: osx
      name: "Python 3.6"
      language: objective-c
      env:
        - PYENV_VERSION=3.6.9
        - PY_TAG='py36'
      before_install: &mac-install
        - mkdir -p $HOME/.matplotlib/
        - "echo backend : TkAgg > $HOME/.matplotlib/matplotlibrc"
        - brew install libomp
        - brew update && brew upgrade pyenv
        - eval "$(pyenv init -)"
        - pyenv install --list
        - travis_retry pyenv install -s $PYENV_VERSION
        - pyenv global $PYENV_VERSION
        - pyenv rehash
        - pip -V
      install: *test-install
      script: &mac-test
        - echo 'Running tests...'
        - if [[ $TRAVIS_BRANCH != "master" ]]; then tox -e $PY_TAG-torch13 -- -s -m 'not slow and not extra' -n auto; fi # don't run slow/extra tests if not on master branch
        - if [[ $TRAVIS_BRANCH == "master" ]]; then tox -e $PY_TAG-torch13 -- -s --cov=qucumber --no-cov-on-fail -n auto; fi
      after_success: codecov

    - os: osx
      name: "Python 3.7"
      language: objective-c
      env:
        - PYENV_VERSION=3.7.5
        - PY_TAG='py37'
      before_install: *mac-install
      install: *test-install
      script: *mac-test
      after_success: codecov

    - stage: build
      name: "Test Package Locally"
      os: linux
      python: 3.6
      script:
        - python setup.py bdist_wheel
        - find . ! -name 'dist' ! -name '*.whl' ! -name '.' ! -name '..' -type f,d -exec rm -rf {} +
        - ls
        - ls dist
        - cd dist; pip install *.whl

    - stage: deploy
      name: "GitHub Release - Examples"
      os: linux
      python: 3.6
      script:
        - tar -czvf examples.tar.gz examples
        - zip -r examples.zip examples
      deploy: &gh-releases
        provider: releases
        skip-cleanup: true
        api-key: "$GITHUB_TOKEN"
        file:
          - examples.tar.gz
          - examples.zip
        file_glob: true
        on:
          repo: PIQuIL/QuCumber
          tags: true

    - name: "GitHub Release - Package Source Distribution"
      script: python setup.py sdist bdist_wheel
      os: linux
      python: 3.6
      deploy:
        <<: *gh-releases
        file: dist/*.tar.gz

    - name: "PyPI"
      script: skip
      deploy:
        provider: pypi
        skip_existing: true
        distributions: "sdist bdist_wheel"
        user: PIQuIL
        password:
          secure: ANzomjrVPkzLO7MG9Zekl1Tz/GiO6rJyqZSWlWxF5a8M0+ZBJsFb7Do6kxPNulkEFwEnvjnJpzpY2ryWlhrXnzGZitzWIa5IDLRRHmSQ3GRNPHMIRqf1xle+8/0IwDBuC/eTsOkit7WU1j9lgurCj8snXuTLUVEqf/SecAcLpmLrelRFvz//ZcOopIbwD66RJWT8pYGBH/L3MMIDFj1bIf0UIpXdBXgeTJhxW054+BhdFPGI66IvWU/kOlOcE606wqRqI9bdvop34OewJFnOQ9Elii7LKUPNXoWmq1PrvXCIc1c50BGcLoWFM2CDiOiirzhvvUymtT/Na2BUqPpmnkbi+iRMyaIa6FOa8UIP4TCGuFd4JJlYxaq84bAmikI+1LOOGhfJ0+LACaJaqEM3WRL8VfP/xjWF9GzOuE5W8/fQQUntZaHkqQi4VV2wzULSkc5CpbrR2iX71dROWO4ETzz1wGXmO0dTVfCWMbqk7dT8OPft+tHsWWJqqeCEL3wj1uYEIYpCwLo9oSyVXwrhzRW0dysZfTCx/XfDaws3eFA6iMg6dUoBt12kwGZ5vCbgjBwPOmQrRMUEmYoyZz8n20HKojoxzUpwueFN/nbLv76arJbN8bLeb/GyE6r1Rw0DEzs8f0fBtv5agUnIpMh6EPOFYN4rwHMxt52HU7BB/Kg=
        on:
          repo: PIQuIL/QuCumber
          tags: true


notifications:
  slack:
    secure: U7+T5dRZ8dit/ZwQKSNUOV3BsAUx5I/ML6ukwqqQZ8RmJdZn2gSAFal2U72LZlQysR8EHUybQJwvpfG2BYaoSYdxkmZtMDuzxCefz+L+F+GKaJOQchfTkSdo93LO4MVlxilLs3srp0NsH0dch9qUzSqVE+T0YO6mj9N+uAqngq5wuZIpbB6jo56X8RoLNQXHxeqgxaWWWaCpIta3g0vzVDIYbLtLHOW3XuvpmJEengb1QdlJPz+9ooJnYNhinP1XKuPxSuzzU/czME+L2oJJMGS6iCIAii8j1fU6iRdsasBTqH23lBr/Pe3Wcxb6+bdfYoX5V2IzFt64UZGQu84AibuK3SaYc5INri6iGQV0YS1pGzoE4QNceoMzneF2WqA0Nsxzdlj6Pcjy86Ddjskdn5a+yGc9mbr2rj72KeTD3DoVobMJB6yJDHRwHOXKep8btgqOja5+XD38Y1Xpsm9cL7IYx9Efz+9oHyaNram1QhW9Gj1oEktREtEbQwZKztVXGJnFBWXkvtM7e8VuUMVWb2siFhdmC9qG/ToEWLPZeVs+/qOTjAnWm52ao4071ncbL/uaZkkXT/3lktpEQBWsAbtq9gn5dIdbS6iFFRBiNULDBy3YxBGcSnTW03RUoqC5jrnp9x1Saq48ovCCy0FIMqBQPEVuynRFbNqInbHJqVQ=
