torch>=0.4.1,<0.4.2
tqdm>=4.23
numpy>=1.14
matplotlib>=2.2
setuptools>=40.0.0
wheel>=0.31.1
black==18.6b4; python_version == '3.6'
flake8>=3.5.0
flake8-per-file-ignores>=0.6
flake8-bugbear>=18.2.0
radon>=2.2.0
pytest>=3.7.1
nbval>=0.9.1
codecov>=2.0.15
pytest-cov>=2.5.1
invoke>=1.1.1
invocations==1.4.0
