http://download.pytorch.org/whl/cpu/torch-0.4.1-cp35-cp35m-win_amd64.whl ; python_version == '3.5'
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-win_amd64.whl ; python_version == '3.6'
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp37-cp37m-win_amd64.whl ; python_version == '3.7'
-r ../travis/requirements.txt
