-r ../requirements.txt
radon>=2.2.0
black==18.6b4; python_version >= '3.6'
flake8>=3.5.0
flake8-per-file-ignores>=0.6
flake8-bugbear>=18.2.0
nbconvert>=5.3.1
codecov>=2.0.15
pytest-cov>=2.5.1
invoke>=1.1.1
